In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [2]:
fake=pd.read_csv(r"Fake.csv")
true=pd.read_csv(r"True.csv")

In [3]:
true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [4]:
fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [5]:
fake["class"]=0
true["class"]=1

In [6]:
true.shape

(21417, 5)

In [7]:
fake.shape

(23481, 5)

In [8]:
fake_manual_testing=fake.tail(10)
for i in range(23480,23470,-1):
    fake.drop([i],axis=0,inplace=True)
true_manual_testing=true.tail(10)
for i in range(21416,21406,-1):
    true.drop([i],axis=0,inplace=True)

In [9]:
manual_testing=pd.concat([fake_manual_testing,true_manual_testing],axis=0)

In [10]:
manual_testing.to_csv("manual_testing.csv")

In [11]:
merge=pd.concat([fake,true],axis=0)

In [12]:
merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [13]:
merge.drop(["title","subject","date"],axis=1,inplace=True)
merge.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [14]:
merge = merge.sample(frac=1)

In [15]:
merge.head(10)

                                                    text  class
11163  Salisbury City Councilwoman April Jackson post...      0
11204  NEW YORK/MANCHESTER, N.H. (Reuters) - Bill Cli...      1
11423  (From CNN) New video captured hours before Mic...      0
18787  SEOUL (Reuters) - Rattled by rising tensions w...      1
12297  LONDON (Reuters) - Britain has expressed grave...      1
8161    (This Sept. 13 story corrects bureau’s name t...      1
13243  UNITED NATIONS (Reuters) - The United States h...      1
9736   WASHINGTON (Reuters) - Republican presidential...      1
11393  In any case, The Hill and other newsies need t...      0
13711  BEIJING (Reuters) - In Xinjiancun, a ramshackl...      1

In [16]:
merge.isnull().sum()

text     0
class    0
dtype: int64

In [17]:
#removing unnecessary characters,links etc in main text
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [18]:
merge["text"]=merge["text"].apply(word_drop)

In [19]:
merge.head(10)

                                                    text  class
11163  salisbury city councilwoman april jackson post...      0
11204  new york manchester  n h   reuters    bill cli...      1
11423   from cnn  new video captured hours before mic...      0
18787  seoul  reuters    rattled by rising tensions w...      1
12297  london  reuters    britain has expressed grave...      1
8161     this sept   story corrects bureau s name to ...      1
13243  united nations  reuters    the united states h...      1
9736   washington  reuters    republican presidential...      1
11393  in any case  the hill and other newsies need t...      0
13711  beijing  reuters    in xinjiancun  a ramshackl...      1

In [20]:
merge.to_csv("merged_df.csv")

In [21]:
X=merge["text"]
Y=merge["class"]

In [22]:
#spliting data set into train and test
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.30)

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
vectorization= TfidfVectorizer()
xv_train=vectorization.fit_transform(x_train)
xv_test=vectorization.transform(x_test)

# Logistic Regression

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
lr=LogisticRegression()
lr.fit(xv_train,y_train)

LogisticRegression()

In [27]:
lr.score(xv_test,y_test)

0.9870766488413547

### our model is 98.70% accurate with logistic regression

In [28]:
#classification report
pred_lr=lr.predict(xv_test)

In [29]:
print(classification_report(y_test,pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      6975
           1       0.98      0.99      0.99      6489

    accuracy                           0.99     13464
   macro avg       0.99      0.99      0.99     13464
weighted avg       0.99      0.99      0.99     13464

# Decision Tree Classification

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dt=DecisionTreeClassifier()
dt.fit(xv_train,y_train)

DecisionTreeClassifier()

In [32]:
dt.score(xv_test,y_test)

0.9968805704099821

### our model is 99.68% accurate with decision tree classifier

In [33]:
predict_dt=dt.predict(xv_test)

In [34]:
print(classification_report(y_test,predict_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      6975
           1       1.00      1.00      1.00      6489

    accuracy                           1.00     13464
   macro avg       1.00      1.00      1.00     13464
weighted avg       1.00      1.00      1.00     13464

# Gradient Boosting Classifier

In [35]:
from sklearn.ensemble import GradientBoostingClassifier

In [36]:
gdc=GradientBoostingClassifier(random_state=0)
gdc.fit(xv_train,y_train)

GradientBoostingClassifier(random_state=0)

In [37]:
gdc.score(xv_test,y_test)

0.9957664884135472

### our model is 99.57% accurate with gradient boosting classifier

In [38]:
predict_gdc=gdc.predict(xv_test)
print(classification_report(y_test,predict_gdc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      6975
           1       0.99      1.00      1.00      6489

    accuracy                           1.00     13464
   macro avg       1.00      1.00      1.00     13464
weighted avg       1.00      1.00      1.00     13464

# Random Forest Classifier

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
rfc=RandomForestClassifier(random_state=0)
rfc.fit(xv_train,y_train)

RandomForestClassifier(random_state=0)

In [46]:
rfc.score(xv_test,y_test)

0.9900475341651812

### our model is 99% accurate with random forest classifier

In [47]:
predict_rfc=rfc.predict(xv_test)
print(classification_report(y_test,predict_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      6975
           1       0.99      0.99      0.99      6489

    accuracy                           0.99     13464
   macro avg       0.99      0.99      0.99     13464
weighted avg       0.99      0.99      0.99     13464

In [48]:
def output_lable(n):
    if n==0:
        return "Fake News"
    elif n==1:
        return "Not A Fake News"
def manual_testing(news):
    testing_news={"text":[news]}
    new_def_test=pd.DataFrame(testing_news)
    new_def_test["text"]=new_def_test["text"].apply(word_drop)
    new_x_test=new_def_test["text"]
    new_xv_test=vectorization.transform(new_x_test)
    pred_lr=lr.predict(new_xv_test)
    pred_dt=dt.predict(new_xv_test)
    pred_gdc=gdc.predict(new_xv_test)
    pred_rfc=rfc.predict(new_xv_test)
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_lr[0]), 
                                                                                                              output_lable(pred_dt[0]), 
                                                                                                              output_lable(pred_gdc[0]), 
                                                                                                              output_lable(pred_rfc[0])))

In [49]:
manual="(Reuters) - Republicans in the U.S. Congress reached a deal on tax legislation on Wednesday, clearing the way for final votes next week on a package that, if approved, would be sent to President Donald Trump to sign into law. Formal language of the legislation, expected to add at least $1 trillion to the $20-trillion national debt over a decade, has not been released. The following are known provisions on which House of Representatives and Senate tax writers have agreed, based on conversations with aides and lawmakers: CORPORATE TAX RATE: Falls to 21 percent from 35 percent. The House and Senate bills, as well as Trump, had earlier proposed 20 percent. Going to 21 percent gave tax writers more federal revenue needed to allow the tax cut to take effect immediately. U.S. corporations have been seeking a large tax cut like this for many years.  PASS-THROUGH BUSINESSES: Creates a 20 percent business income deduction for owners of pass-through businesses, such as sole proprietorships and partnerships. The House had proposed a 25 percent tax rate; the Senate, a 23 percent deduction.  CORPORATE MINIMUM: Repeals the corporate alternative minimum tax, which was set up to ensure profitable companies pay at least some federal tax. CLEAN ENERGY: Maintains production tax credit for wind energy and the $7,500 electric vehicle tax credit. The House had proposed repealing the electric vehicle credit and scaling back the wind energy credit. The Senate version did neither. INDIVIDUAL INCOME TAX RATES: There will be seven brackets, and the top rate falls to 37 percent from 39.6 percent. The House had proposed maintaining the 39.6 percent top rate and condensing the current seven tax brackets to four. The Senate had proposed cutting the top rate to 38.5 percent and maintaining seven brackets. PERMANENCE: The expectation is that individual tax rates will snap back to current levels in less than 10 years, possibly after 2024. The individual tax rates in the House bill were to be permanent. The individual tax rates in the Senate bill were to expire after 2025. STATE AND LOCAL TAX (SALT): Both the House and Senate had proposed scaling back the popular individual deduction for state and local tax payments by limiting it to property-tax payments and capping that at $10,000. The compromise bill will keep that $10,000 cap, but allow for continued deduction of both state and local income tax payments, as well as property tax payments. MORTGAGE INTEREST: Caps the mortgage interest deduction for new mortgages at $750,000 in home loan value, down from the current $1 million. The House had proposed a $500,000 cap. The Senate bill left it at $1 million. ESTATE TAX: Roughly doubles the exemption from the federal estate tax on inherited assets to about $11 million per person, or about $22 million per couple, but leaves the estate tax in place, mirroring the Senate proposal. The House bill had proposed entirely repealing the estate tax over several years. OBAMACARE MANDATE: Repeals a federal fine imposed on Americans under Obamacare for not obtaining health insurance coverage. The House bill did not repeal the Obamacare individual mandate.  ANWR DRILLING: Allows oil drilling in Alaskaâ€™s Arctic National Wildlife Refuge. The provision was sponsored by Republican Senator Lisa Murkowski of Alaska."

manual_testing(manual)

LR Prediction: Not A Fake News
DT Prediction: Not A Fake News
GBC Prediction: Not A Fake News
RFC Prediction: Not A Fake News

In [50]:
import pickle

In [51]:
pickle.dump(dt,open("model.pkl",'wb'))
#model=pickle.load(open("model.pkl",'rb'))